.gamecontrol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}